body {
    box-sizing: border-box;
    background-color: lightslategray;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    text-align: center;
    color: #ffff00;
}

.logincontainer {
    border: 2px solid #ffff00;
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: white;
}

label {

    background-color: white;
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
  
}

button{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
}

.para1, .a1 {
    background-color: white;
}

.para2 {
    
    text-align: center;
}

a:hover {
       color: yellow;
}