@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl( 0, 0%, 95%);
}

main { 
  height: 100vh;
}

.Container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.boxcar1 {
  background-color: hsl(31, 77%, 52%);
  width: 50%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.boxcar2 {
  background-color: hsl(184, 100%, 22%);
  width: 50%; 
  padding: 10px;
}

  .boxcar3 {
  background-color: hsl(184, 100%, 2%);
  width: 50%;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.car1, .car2, .car3 {
  color: hsl(0, 0%, 95%);
  margin: 5px 20px 50px 20px;
}

.para1, .para2, .para3 {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 10px;
  margin: 5px 20px 50px 20px;
}

img {
  margin: 5px 20px 50px 20px;
}

.btn1, .btn2, .btn3 {
  background-color: hsl(0, 0%, 95%);
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.btn1 {
  color: hsl(31, 77%, 52%);
  
}

.btn2{
  color: hsl(184, 100%, 22%);
}

.btn3 {
  color: hsl(184, 100%, 2%);
}